spring:
  datasource:
    url: jdbc:h2:mem:pit
    username: sa
    password:
    driver-class-name: org.h2.Driver


  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
      enabled: true
  thymeleaf:
      cache: false
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

app:
  jwt:
    secret: test-secret-0123456789ABCDEF-0123456789ABCDEF
    expiration-ms: 3600000

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
